.btn-middle {
  width: 30%;
  margin: 0 auto;
  display: block;
  height: 80px;
  margin-top: 200px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 26px;
}

.label-center {
  margin: 0 auto;
  display: block;
  text-align: center;
  font-weight: bolder;
}